In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
gold_dataset=pd.read_csv("monthly_csv.csv")
gold_dataset1=gold_dataset

In [3]:
print(gold_dataset1[gold_dataset1["Price"]<=0])

Empty DataFrame
Columns: [Date, Price]
Index: []

In [4]:
gold_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    847 non-null    object
 1   Price   847 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.4+ KB

In [5]:
gold_dataset1.describe()

             Price
count   847.000000
mean    416.556906
std     453.665313
min      34.490000
25%      35.190000
50%     319.622000
75%     447.029000
max    1840.807000

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
from EDAcentral import EDA  #(userdefined class and functions for EDA)

In [8]:
eda=EDA(gold_dataset[["Price"]])
centraluni=eda.central()
centraluni

              Price
Mean     416.556906
Median      319.622
Mode          35.08
Q1:25         35.19
Q2:50       319.622
Q3:75       447.029
Q4:100     1840.807
IQR         411.839
1.5*IQR    617.7585
Lesser    -582.5685
Greater   1064.7875
Min           34.49
Max        1840.807

In [9]:
Lesser=[]
Greater=[]
Lesser,Greater=eda.outlierscheck()

In [10]:
gold_dataseteda=eda.outliersreplace()
gold_dataseteda

         Price
0      34.7300
1      34.7300
2      34.7300
3      34.7300
4      34.7300
..         ...
842  1064.7875
843  1064.7875
844  1064.7875
845  1064.7875
846  1064.7875

[847 rows x 1 columns]

In [11]:
eda1=EDA(gold_dataseteda)

In [12]:
centraluni=eda1.central()
centraluni

              Price
Mean     371.381164
Median      319.622
Mode      1064.7875
Q1:25         35.19
Q2:50       319.622
Q3:75       447.029
Q4:100    1064.7875
IQR         411.839
1.5*IQR    617.7585
Lesser    -582.5685
Greater   1064.7875
Min           34.49
Max       1064.7875

In [13]:
Lesser,Greater=eda1.outlierscheck()
Lesser
Greater

[]